dist/404.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8"/>
    <title>Artrix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="assets/css/normalize.css"/>
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="assets/css/owl.carousel.css"/>
    <link rel="stylesheet" href="assets/css/owl.theme.default.css"/>
    <link rel="stylesheet" href="assets/css/styles.css"/>
  </head>
  <body>
    <div class="layout">
      <div class="layout-inner">
        <div class="bg-col">
          <div class="container-art d-flex">
            <div class="col-lg-3 bg-col__item"></div>
            <div class="col-lg-3 bg-col__item"></div>
            <div class="col-lg-3 bg-col__item"></div>
            <div class="col-lg-3 bg-col__item"></div>
          </div>
        </div>
        <div class="content-wrap content-wrap_inner page-404">
          <div class="page-404__head glitch" data-text="404">404</div>
          <div class="page-404__text ac">Вы сбились с правильного пути</div>
          <div class="page-404__back ac"><a class="a" href="#">Вернуться</a></div>
        </div>
      </div>
      <script src="assets/js/jquery.min.js"></script>
      <script src="assets/js/owl.carousel.js"></script>
      <script src="assets/js/jquery.fancybox.min.js"></script>
      <script src="assets/js/scripts.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcRIPr2zAEhn1Apg2LdDItnXQigesvGII"></script>
    </div>
  </body>
</html>

src/templates/mixins/404.pug
mixin 404()
    .bg-col
        .container-art.d-flex
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
            .col-lg-3.bg-col__item
    .content-wrap.content-wrap_inner.page-404
        .page-404__head.glitch(data-text="404") 404
        .page-404__text.ac Вы сбились с правильного пути
        .page-404__back.ac
            a.a(href="#") Вернуться
